# This file tells kubernetes how to deploy the application. And how to manage the pods
apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-project-deployment
  labels:
    app: test-project 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-project 
  template:
    metadata:
      labels:
        app: test-project 
    spec:
      containers:
        - name: nodeserver 
          image: jasongill00/test-project:latest
          ports:
            - containerPort: 3000
          env:
            - name: VERSION
              value: "{{ YOUR_TAG }}"
            - name: NODE_ENV
              value: production
            - name: TEMPORAL_CLOUD_ADDRESS
              value: us-east-1.aws.api.temporal.io:7233
            - name: TEMPORAL_CLOUD_NAMESPACE
              value: test-playground
          volumeMounts:
            - name: temporal-creds
              mountPath: /creds
              readOnly: true
      volumes:
        - name: temporal-creds
          secret:
            secretName: temporal-credentials

